* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Ubuntu, sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.form {
  min-width: 600px;
  margin: 30px 0;
  padding: 50px 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background: white;
  border-radius: 4px;
  box-shadow: rgb(60 66 87 / 12%) 0px 7px 14px 0px,
    rgb(0 0 0 / 12%) 0px 3px 6px 0px;
}

.content {
  margin: 0 auto;
  max-width: 700px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px 55px;
}

.input-group1, .input-group2{
  display: flex;
  flex-direction: column;
  width: 40%;
  gap: 15px 0;
}

.input-container {
  display: flex;
  flex-direction: column;
}

.input-container.file {
  display: flex;
  flex-direction: column;
  width: 88%;
  margin: 0 auto;
}

input,
#btnReadFile {
  margin: 5px 0;
}

input[type="text"] {
  opacity: 0.8;
  text-transform: uppercase;
}

input[type="text"],
button {
  padding: 10px;
  border: 1px solid;
  border-radius: 4px;
}

.input-container.chassi {
  width: 85%;
}

.btns-container{
  width: 88%;
  margin: 15px auto 0;
}

.btns-container button {
  background-color: rgb(84, 105, 212);
  color: #fff;
  font-weight: 700;
  cursor: pointer;
}

button[disabled] {
  background-color: #c6c6c6;
  cursor: not-allowed;
}

#go-back-button{
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  border: none;
  cursor: pointer;
}

#go-back-button img{
  height: 35px;
}

#go-back-button {
  transition: all 0.3s ease-in-out;
}

.error-message {
  color: red;
  font-size: 12px;
  display: inline-block;
}

