.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 88px;
    padding: 10px 14px 35px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.sidebar .header img {
    height: 40px;
    margin: 0 auto;
    cursor: pointer;
}

.bottom-content li {
    list-style: none;
}

.bottom-content li a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 30px;
    color: var(--text-color);
}

.content {
    position: absolute;
    top: 0;
    left: 88px;
    height: 100vh;
    width: calc(100% - 88px);
    background-color: var(--body-color);
    transition: var(--tran-05);
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content .text {
    align-self: flex-start;
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 12px 0px;
}

.button-toggle-form {
    margin: 30px auto 0;
    width: 100%;
    display: flex;
}

.button-toggle-form button.active {
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    padding: 5px 15px;
    background-color: var(--sidebar-color);
    color: var(--primary-color);
    border: transparent;
    z-index: 10;
}

.button-toggle-form button {
    background-color: var(--primary-color);
    color: var(--sidebar-color);
    border-radius: 6px 6px 0 0;
}

.form {
    width: 100%;
    margin: 0px auto 40px;
    gap: 20px 40px;
    padding: 25px 45px;
    background-color: var(--sidebar-color);
    border-radius: 0 6px 6px 6px;
    -webkit-box-shadow: 0px 0px 30px -12px rgba(0, 0, 0, 0.37);
    -moz-box-shadow: 0px 0px 30px -12px rgba(0, 0, 0, 0.37);
    box-shadow: 0px 0px 30px -12px rgba(0, 0, 0, 0.37);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.form-group1,
.form-group2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0 10px;
}

.form-group1 .input-container:nth-of-type(1) {
    flex-grow: 1;
    flex-basis: 100%;
}

.form-group1 .input-container:nth-of-type(2),
.form-group2 .input-container:nth-of-type(2) {
    flex-grow: 1;
    flex-basis: 19%;
}

.form-group1 .input-container:nth-of-type(3),
.form-group2 .input-container:nth-of-type(3) {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 59%;
}

.form-group1 .input-container:nth-of-type(4) {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 100%;
}

.form-group2 .input-container:nth-of-type(1) {
    flex-grow: 1;
    flex-basis: 100%;
}

.form-group2 .input-container:nth-of-type(4) {
    flex-grow: 1;
    flex-basis: 100%;
}

label {
    margin: 10px 0 5px;
    position: relative;
}

/* .input-container:nth-of-type(1) label::after, .form-group1 .input-container:nth-of-type(2) label::after,
.form-group1 .input-container:nth-of-type(3) label::after, .form-group1 .input-container:nth-of-type(4) label::after, 
.form-group2 .input-container:nth-of-type(2) label::after,
.form-group2 .input-container:nth-of-type(3) label::after, .form-group2 .input-container:nth-of-type(4) label::after
{
    content: '';
    height: 10px;
    width: 10px;
    border: 0.5px solid black;
    border-radius: 50%;
    background-color: transparent;
    position: absolute;
    bottom: 7px;
    margin-left: 10px;
} */

.input-container.equal label::after, .input-container.different label::after {
    content: '';
    height: 10px;
    width: 10px;
    border: 0.5px solid black;
    border-radius: 50%;
    position: absolute;
    bottom: 7px;
    margin-left: 10px;
}

.input-container.equal label::after {
    background-color: greenyellow;
    border-color: green;
}

.input-container.different label::after {
    background-color: red;
    border-color: darkred;
}

.input-container {
    display: flex;
    flex-direction: column;
}

input[type="text"] {
    opacity: 0.8;
    text-transform: uppercase;
}

input[type="text"],
button {
    padding: 5px 8px;
    border: 1px solid;
    border-radius: 6px;
}

.input-container:nth-of-type(7) {
    width: 290px;
}

.btns-container {
    width: 100%;
    margin: 15px 0px 0;
    display: flex;
    gap: 0px 10px;
}

.btns-container button {
    background-color: var(--primary-color);
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    border: none;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btns-container i {
    font-size: 20px;
}

button[disabled] {
    background-color: #c6c6c6;
    cursor: not-allowed;
}

.error-message {
    color: red;
    font-size: 12px;
    display: inline-block;
}

input[type=file]::file-selector-button {
    margin-right: 20px;
    border: none;
    background: var(--primary-color);
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
    width: 50%;
}

input[type=file]::file-selector-button:hover {
    background: var(--brand--color);
}